
/*reseaux sociaux*/
  /* 3. Style spécifique pour la section "Réseaux Sociaux" */
  .reseaux .reseau {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  .reseaux .reseau .logo {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .reseaux .reseau .texte {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .reseaux .reseau:hover {
    background-color: #e0e0e0;
  }
  /***/



  L'inondation et les incendies peuvent coexister dans certaines zones. Assurez-vous d'avoir un plan d'évacuation et un kit d'urgence.

