.Titre {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff; /* White */
    color: #000000; /* Black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Titre img {
    width: 150px; 
    height: auto; 
    max-width: 100%;
}

.Sous-titre {
    background-color: rgba(25, 118, 210, 0.2); /* Light blue */
    padding: 20px; 
    text-align: center; 
    font-size: 1.5rem;
    border-radius: 15px;
    margin: 20px 0;
    color: #000000; /* Black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Sous-titre p {
    text-decoration: underline;
}

.Sous-titre h3 {
    margin: 0; 
    color: #000000; /* Black */
}

.Sous-titre p {
    margin: 5px 0 0; 
    color: #000000; /* Black */
}

.Corps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    background-color: #3e3e3e; /* White */
    color: #000000; /* Black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Corps div {
    background-color: #ffffff; /* White */
    border: 1px solid #cfd8dc; /* Light blue-gray */
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 0 10px;
}

.tremblements {
    font-size: 1rem;
    margin-top: 60px;
    width: 30%;
}

.inondable {
    text-align: center; 
    font-size: 1rem;
    width: 30%;
}

.mouvement_de_terrain {
    font-size: 1rem;
    margin-top: 80px; 
    width: 30%;
}

.Corps p:first-child {
    font-size: 3rem;
    font-weight: bold;
}

.Corps p {
    font-size: 1.5em;
    text-align: center;
    color: #000000; /* Black */
    margin-bottom: 30px;
}

.Bas-Page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;
    margin-top: 30px;
    background-color: #ffffff; /* White */
    color: #000000; /* Black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Bas-Page p {
    color: #000000; /* Black */
    font-size: 1.2rem;
    width: 70%;
}

.Bas-Page button {
    padding: 10px 20px;
    background-color: #66bb6a; /* Green */
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Bas-Page button:hover {
}


