.Page_Articles{
    width: 100%;
    height: fit-content;
    padding: 10px 120px;
    font-family: Monserrat;
}

.Page_Articles h1{
    font-family: Decalotype;
    font-size: 5em;
}

.choix{
    display: flex;
    flex-wrap: wrap ;
    width: 100%;
    gap: 10%;
    justify-content: center;
}

.choix img{
    width: 220px;
    height: 220px;
    border-radius: 1000px;
}

.support{
    
}

.support_text{
    
}

.Inondation{
    
}

.Incendie{
    
}
.Incendie ul{
    list-style: none;
    padding: 0;
    margin: 0px ;
}


.Incendie li{
    text-decoration: none;
}

.Seisme{
    
}